<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>880851904447-tso4ncrn6on7qigne6g2i7d4vsb9km6e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.880851904447-tso4ncrn6on7qigne6g2i7d4vsb9km6e</string>
	<key>API_KEY</key>
	<string>AIzaSyBDoFGLGTmmi_Aed36FW9nu57g4qEpUQo0</string>
	<key>GCM_SENDER_ID</key>
	<string>880851904447</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.harshith.PadhoIndia.Padho-India</string>
	<key>PROJECT_ID</key>
	<string>padhoindia-3d8ee</string>
	<key>STORAGE_BUCKET</key>
	<string>padhoindia-3d8ee.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:880851904447:ios:991ebb5c8128ab16cee30a</string>
	<key>DATABASE_URL</key>
	<string>https://padhoindia-3d8ee.firebaseio.com</string>
</dict>
</plist>